
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
}

/*
    GENERAL
*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.button{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
}

/*
    HEADER
*/

.top-header{
    padding: 10px 0;
    background-color: rgb(37, 94, 233);
}

.bot-header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

header nav li{
    display: inline-block;
}

.menu-container{
    width: 100%;
}

.menu-container > *{
    padding-top: 10px;
}

.login, .logo{
    padding-left: 5px;
    padding-right: 5px;
}

.top-header .logo > img{
    width: 50%;
}

.menu-container ul a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.menu-container .login > .button{
    color: black;
    background-color: white;
    font-size: 0.8em;
}


/*
    FRAMEWORK
*/

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.col20{
    width: 20%
}

.col60{
    width: 60%
}

.col40{
    width: 40%
}

.col70{
    width: 70%
}

.col30{
    width: 30%
}

.padding50{
    padding: 50px 0;
}


/* HEADER DEBUG */




.jumbotron{
    /* background-color: rgb(238, 130, 238); */
    width: 100%;
    min-height: 500px;
    text-align: center;
    color: white;
}

.jumbotron > h1{
    margin-bottom: 40px;
    padding-top: 150px;
    font-size: 3em;
}

.jumbotron > p{
    margin-bottom: 20px;
}

.jumbotron > .button{
    padding: 10px 15px;
    margin: 0 5px;
}

.jumbotron > .button.download-mac{
    background-color: white;
    color: black;
}

.jumbotron > .open-in-browser{
    background-color: black;
    color: white;
}

.main-box{
    width: 100%;
    height: 500px;
}


/* MAIN DEBUG */

main > div:nth-child(2n + 2){
    background-color: lightgray;
}



.pink{
    background-color: pink;
    height: 450px;
}

.blue{
    background-color: dodgerblue;
    height: 450px;
}

.main-box-green{
    width: 100%;
    min-height: 900px;
    background-color: green;
    border: 2px dashed black;
}


/* FOOTER DEBUG */

.top-footer{
    background-color: rgb(35, 39, 42);
    padding: 10px 0 30px 0;
}

.coral{
    background-color: lightcoral;
}
    
.col-footer{
    width: 25%;
    border: 2px dashed white;
    background-color: cadetblue;
}

.bot-footer{
    background-color: rgb(35, 39, 42);
    padding-top: 20px;
}

.nav_footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: aquamarine;
}

.nav_footer-container > *{
    padding: 5px;
    background-color: lightcoral;
    border: 1px dashed black;
}


/* GENERAL DEBUG */

/* section > div{
    border: 2px dashed black;
} */



 .main-box *{
    height: 100%;
}

.main-box > section{
    border: 2px dashed black;
}

.nav_footer-container{
    border: 2px dashed black;
}